// Place all the styles related to the Api::Users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


nav {
  background: $green;
  padding: 0 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 75px;
}

.navbar-group {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: 'Ubuntu', sans-serif;
  width: 255px;
}

.session-links {
  width: 300px;
}

.toggle-form {
  color: $green;
}

.auth-link {
  color: $darkgrey;
}

.auth-link:hover {
  color: white;
}

.logo {
  font-size: 18px;
}

.logo-image {
  width: 45px;
  height: auto;
  margin-right: 16px;
}

.landing-page-container {
  display: flex;
  width: 60%;
  margin: 0 auto;
}

.landing-page {
  display: flex;
  flex-direction: column;
}

.about-author {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-site {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  margin: 30px 0;
}

.author-image {
  border-radius: 300px;
  width: 250px;
  height: auto;
  margin: 50px 0;
  padding: 7px;
  border-bottom: 2px solid $green;
  border-left: 2px solid $green;
}

.content {
  margin-bottom: 75px;
}
