// Place all the styles related to the Api/Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feed-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  margin-top: 50px;
  width: 750px;
}

.behind-feed {

  // background-size: cover;
  // background-image: url('https://res.cloudinary.com/jules-costa/image/upload/c_scale,w_1200/v1500842203/luigi-manga-253534_kbrowl.jpg');
}

.feed-item-wrapper {
  margin: 30px 0;
  padding: 6px 24px;
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.2);
  background-color: white;
}

.post-body {
  margin: 0;
  margin-bottom: 75px;
  line-height: 24px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.post-title-index {
  padding: 12px 0;
  font-size: 21px;
  color: $green;
}

.post-title {
  padding: 24px 0;
  font-size: 21px;
  color: $green;
}
