// Place all the styles related to the Api/Posts controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.feed-wrapper {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 750px;
}

.feed-item-wrapper {
  margin: 30px 0;
  padding: 24px;
  box-shadow: 1px 1px 12px 1px rgba(0, 0, 0, 0.2);
}

.post-body {
  margin: 0;
  line-height: 24px;
}

.post-title {
  padding-bottom: 14px;
  font-size: 21px;
  color: $green;
}
