// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.route-wrapper {

}
.input-fields {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 60px;
}

.auth-field {
  border: 1px solid $grey;
  padding: 14px 12px;
  margin: 8px;
  border-radius: 6px;
  font-size: 14px;
  width: 100%;
}

::placeholder {
  color: $grey;
}

.auth-form {
  text-align: center;
  color: $darkgrey;
  margin: 16px 36px;
}

.name {
  width: 170%;
}

.session-errors {
  font-family: 'Lora', serif;
  color: $orange;
  font-size: 12px;
  text-align: center;
  margin-bottom: 8px 0;
}

.auth-button {
  background-color: transparent;
  border: 1px solid $grey;
  padding: 14px 12px;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  color: $darkgrey;
  margin: 8px;
}

.auth-button:hover {
  background-color: $green;
  color: white;
}

.behind-auth-form-container {
  background-image: url('https://res.cloudinary.com/jules-costa/image/upload/c_scale,w_1200/v1500842203/luigi-manga-253534_kbrowl.jpg');
  background-size: cover;
  height: 100vh;
}

.auth-form-container {
  display: flex;
  flex-direction: column;
  width: 30%;
  margin: 0 auto;
  margin-top: 100px;
  border-radius: 8px;
  justify-content: center;
  background-color: white;
}
