// Place all the styles related to the Api::Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.auth-field {
  border: 1px solid $grey;
  padding: 14px 12px;
  margin: 8px;
  border-radius: 6px;
  font-size: 16px;
  width: 100%;
}

::placeholder {
  color: $grey;
}

.auth-header {
  text-align: center;
  color: $darkgrey;
  // margin: 16px 36px;
}

.auth-assurance {
  color: $darkgrey;
  width: 45%;
  padding-left: 25px;
  // text-align: center;
}

.name {
  width: 170%;
}

.session-errors {
  font-family: 'Lora', serif;
  color: $orange;
  font-size: 12px;
  text-align: center;
  margin: 8px;
}

.auth-button {
  background-color: transparent;
  border: 1px solid $grey;
  padding: 12px 10px;
  border-radius: 6px;
  text-align: center;
  font-size: 14px;
  margin: 0 auto;
  margin-top: 8px;
  width: 75px;
  background-color: $green;
  color: white;
  box-shadow: 2px 2px 2px $lightgrey;
}

.auth-button:active {
  box-shadow: 0 1px $lightgrey;
  transform: translateY(3px);
}

.auth-form {
  display: flex;
  flex-direction: column;
  width: 350px;
  height: 500px;
  margin: 0 auto;
  justify-content: center;
}
