h1 {
  font-family: 'Ubuntu', sans-serif;
  color: $darkgrey;
}
h2 {
  font-family: 'Ubuntu', sans-serif;
  color: $darkgrey;
  font-size: 28px;
  letter-spacing: 0.6px;
}
h3 {
  font-family: 'Ubuntu', sans-serif;
  color: $darkgrey;
}
h4 {
  font-family: 'Lora', serif;
  color: $darkgrey;
}
h5 {
  font-family: 'Lora', serif;
  color: $darkgrey;
}
h6 {
  font-family: 'Lora', serif;
  color: $darkgrey;
}
p {
  font-family: 'Lora', serif;
  line-height: 28px;
  font-size: 17.5px;
  word-spacing: 3px;
  padding-bottom: 16px;
  text-align: center;
}

p:last-of-type {
  padding-bottom: 0;
  margin-bottom: 100px;
}

button {
  font-family: 'Ubuntu', sans-serif;
}
