h1 {
  font-family: 'Ubuntu', sans-serif;
  color: $darkgrey;
}
h2 {
  font-family: 'Ubuntu', sans-serif;
  color: $darkgrey;
}
h3 {
  font-family: 'Ubuntu', sans-serif;
  color: $darkgrey;
}
h4 {
  font-family: 'Lora', serif;
  color: $darkgrey;
}
h5 {
  font-family: 'Lora', serif;
  color: $darkgrey;
}
h6 {
  font-family: 'Lora', serif;
  color: $darkgrey;
}
p {
  font-family: 'Lora', serif;
  color: $darkgrey;
}

button {
  font-family: 'Ubuntu', sans-serif;
  color: $darkgrey;
}
