h1 {
  font-family: 'Ubuntu', sans-serif;
  color: $darkgrey;
}
h2 {
  font-family: 'Ubuntu', sans-serif;
  color: $darkgrey;
  font-size: 28px;
  letter-spacing: 0.6px;
}
h3 {
  font-family: 'Ubuntu', sans-serif;
  color: $darkgrey;
}
h4 {
  font-family: 'Lora', serif;
  color: $darkgrey;
}
h5 {
  font-family: 'Lora', serif;
  color: $darkgrey;
}
h6 {
  font-family: 'Lora', serif;
  color: $darkgrey;
}
p {
  font-family: 'Lora', serif;
  line-height: 28px;
  font-size: 16.8px;
  word-spacing: 0.8px;
}

button {
  font-family: 'Ubuntu', sans-serif;
  color: $darkgrey;
}
